<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html">

<head th:replace="~{fragments/head}"></head>

<body>

<div th:replace="~{fragments/navbar}">Navbar</div>

<div class="container-fluid">
    <h5 class="text-center text-white mt-5"> Upps, the thingy that you ar looking for is no here!</h5>
    <h5 class="text-center text-white mt-5"> We are veeeeery sorry, and we are working to resolve the problem.</h5>
    <div class=""><img th:src="@{/images/broken_car.png}" alt="Broken car"></div>
    <br>
    <a th:href="@{/}">Go home ...</a>
</div>

<div>
    <footer></footer>
</div>

</body>
</html>
